<!DOCTYPE html>
<html>
<head>
    <title>CSV File view</title>
</head>
<body>
    <h1>viw a file e</h1>
    <form action="/view" method="post" enctype="multipart/form-data">
        <input type="file" name="csv_file">
        
    

    <div class="dropdown">
        <button class="btn btn-secondary " type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Name of batch
        </button>
        <label for="Name of batch"></label>
              <select id="batch" name="batch">
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="audi">9</option>
              </select>
              
    </div>
        
    <div class="dropdown">
        <button class="btn btn-secondary " type="button" data-bs-toggle="dropdown" aria-expanded="false">
            SEMSTER
        </button>
        <label for="Name of batch"></label>
        <select id="semester" name="semester">
          <option value="volvo">1</option>
          <option value="saab">2</option>
          <option value="fiat">3</option>
          <option value="audi">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
       
    </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
</body>
</html>